{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css">
    <meta charset="UTF-8">
    <title>여러분의 고민 worrior가 해결하겠습니다.</title>
</head>
<body>
    <div class="container my-3">
        <h2 class="border-bottom py-2">{{ trouble.title }}</h2>
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" > {{trouble.body }}</div>
                <div class="d-flex justify-content-end">
                    <div class="badge badge-light p-2">
                        {{ trouble.create_Date }}
                    </div>
                </div>
            </div>
        </div>

        <h5 class="border-bottom my-3 py-2">{{ trouble.tr_comment_set.count }}</h5>
         {% for comment in trouble.tr_comment_set.all %}
         <div class="card my-3">
            <div class="card-body">
                <div class="card-text">{{ comment.body }}</div>
                <div class="d-flex justify-content-end">
                    <div class="badge badge-light p-2">
                        {{ comment.created_Date }}
                    </div>
                </div>
            </div>
         </div>
        {% endfor %}


     <!--form 형식에는 csrf를 넣어주는게 좋다고 해요-->
        <form action="{% url 'trouble:comment_Create' trouble.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="body" id="body" rows="5" class="form-control"></textarea>
            </div>
            <input type="submit" value="댓글등록" class="btn btn-dark"/>
       </form>
    </div>
</body>
</html>